<style>
  .lib-item {
    display: flex;
    margin: 10px 0;
  }

  .lib-item-title {
    font-weight: bold;
  }

  .lib-item-subtitle {
    font-style: italic;
  }

  .lib-item-thumb {
    margin-right: 10px;
  }

  .lib-item-thumb img {
    max-width: 150px;
  }

  .lib-item-thumb-empty {
    height: 225px;
    width: 150px;
    background-color: lightgrey;
  }
</style>

<div class="library">
  <h3>Michael's Library</h3>

  {{#each books as |book|}}
    <div class="lib-item">

      <div class="lib-item-thumb">
        {{#if book.cover}}
          <img src="assets/{{book.cover}}">
        {{else}}
          <div class="lib-item-thumb-empty"></div>
        {{/if}}
      </div>

      <div class="">
        <div class="lib-item-title">
          {{book.title}}
        </div>
        <div class="lib-item-subtitle">
          {{book.subtitle}}
        </div>
        <div class="lib-item-author">
          {{book.author}}
        </div>
      </div>

    </div>
  {{/each}}

</div>
