<div class="lb-item">
  {{#if settings.showThumbs}}
    <div class="lb-item-thumb">
      {{#if item.cover}}
        <img src="assets/{{item.cover}}">
      {{else}}
        <div class="lb-item-thumb--empty"></div>
      {{/if}}
    </div>
  {{/if}}

  <div class="">
    <div class="lb-item-title">
      {{#link-to 'library.item' item.id}}
        {{item.title}}
      {{/link-to}}
    </div>
    <div class="lb-item-subtitle">
      {{item.subtitle}}
    </div>
    <div class="lb-item-author">
      {{item.author}}
    </div>
  </div>
</div>