<div class="lb-item lb-item--expanded">

  <div class="lb-item-close" {{action exit}}>
    <i class="fas fa-times"></i>
  </div>

  <div class="lb-item-cover">
    {{#if item.cover}}
      <img src="/assets/{{item.cover}}">
    {{else}}
      <div class="lb-item-cover-empty"></div>
    {{/if}}
  </div>

  <div class="lb-item-info">

    {{#if isEditing}}
      <form class="lb-item-form">
        {{input name="title"
                value=itemData.title
                placeholder="Title"
                autocomplete="off"
                class="lb-item-title lb-item-title--input"}}
        {{input name="subtitle"
                value=itemData.subtitle
                placeholder="Subtitle"
                autocomplete="off"
                class="lb-item-subtitle lb-item-subtitle--input"}}
        {{input name="author"
                value=itemData.author
                placeholder="Author"
                autocomplete="off"
                class="lb-item-author lb-item-author--input"}}
        {{textarea name="description"
                   value=itemData.description
                   placeholder="description"
                   autocomplete="off"
                   class="lb-item-description lb-item-description--input"
                   rows=15}}
      </form>
    {{else}}
      <div class="lb-item-title">
        {{item.title}}
      </div>
      <div class="lb-item-subtitle">
        {{item.subtitle}}
      </div>
      <div class="lb-item-author">
        {{item.author}}
      </div>
      <div class="lb-item-description">
        {{item.description}}
      </div>

    {{/if}}
  </div>

</div>

<div class="lb-item-actions">

  {{#if isEditing}}
    <button class="lb-btn lb-mr-1"
            {{action 'saveChanges' form}}>
      Save Changes
    </button>
  {{else}}
    <button class="lb-btn lb-mr-1"
            {{action 'readItem'}}>
      Read
    </button>
  {{/if}}

  <button class="lb-btn lb-mr-1"
          {{action 'toggleEdit'}}>
    {{if isEditing 'Cancel' 'Edit'}}
  </button>

</div>
